html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    background-color: cornflowerblue;
    display: inline-flex;
    height: 120px;
    
}

header h1{
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
    width: fit-content;
    padding: 10px 50px 10px 25px ;
    margin:25px;
}
/* get hieght to fit parent */
header section{
    position: absolute;
    right:0%;
    display: flex;
    background-color: black;
    color:white;
    flex-wrap: wrap;
    height:120px;
}

header a{
    width:50%;
    border: white solid 1px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;

}

.top-article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

article section{
    display: flex;
    margin:100px;
}
.about-me{
    display: flex;
}

.about-me p{
    margin: 25px;
    max-width: 800px;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif ;
}

.about-me h1, .my-work h1{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    border-right: black solid 5px;
    padding:20px;
}


.socials{
    padding:20px;
    border: black solid 5px;
    text-align: center;    
}

.socials li{
    padding: 5px;
}


.socials li h4:hover + p{
    opacity: 100%;
    font-size: 16px;
}

.socials li p{
    opacity: 0%;
}

.socials img{
    width: 100px;
    border: black solid 2px;
    border-radius: 30px;
}
.my-work{
    margin-top: 150px;
    margin-bottom: 50px;
}

.portfolio{
    display: inline-block;
    width: 100%;
}

.large-work{
    width: 100%;
}

.small-works{
    display:flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

/* figure out why I cant make this full 50% */
.small-works section{
    float: left;
    width:45%
}


.my-work section{
    display: block;
    padding:25px;
    margin: 30px;
    border: black solid 5px;
    border-radius: 15px;
    background-color: cornflowerblue;
    text-align: center;
}

/* Get the images to align to the center */
/* get the images to shrink down */
.my-work img{
    width: 400px;
    margin: 25px;
    border: black solid 5px;
}

.my-work h3{
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.my-work a{
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:5px;
    color:black;
    text-decoration: none;
    align-content: center;
}

.my-work p{
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:5px;
    color:black;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 1591px){

    .small-works section{
        width: 100%;
    }
    #challenge-repo{
        display: none;
    }
}

@media screen and (max-width: 770px){
    .my-work img{
        max-width: 200px;
    }
}
